* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// ----------------------------



// ------------Header-Start-----------------

.Header {
    background-color: #131720;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    .Header-All {
        display: flex;
        margin: auto;
        align-items: center;
        display: contents;

        .Header-Ico {
            a {
                text-decoration: none;
            }

            h1 {
                color: #fff;
                font-weight: 400;

                i {
                    color: #1a4da7;
                }
            }
        }

        .Header-Nav {
            display: contents;

            ul {
                display: flex;
                color: #fff;
                margin-top: 12px;

                li {
                    list-style: none;
                    margin-left: 16px;
                    cursor: pointer;
                    transition: .4s ease-in-out;
                    font-size: 16px;
                    font-weight: bold;

                    &:hover {
                        i {
                            transition: .4s;
                            transform: rotate(-360deg);
                        }
                    }

                    i {
                        font-size: 23px;
                    }

                    &:hover {
                        color: #1a4da7;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        transition: .4s ease-in-out;

                        &:hover {
                            color: #1a4da7;
                        }
                    }
                }
            }
        }

    }
}

.Responsive-Header {
    background-color: #131720;
    padding: 8px;
    display: none;
    top: 0%;
    width: 100%;
    position: fixed;
    transition: .4s ease-in-out;
    z-index: 9999;

    .All-Responsive {
        display: flex;
        align-items: center;

        .Responsive-Logo {

            a {
                text-decoration: none;
                font-size: 17px;
            }

            h4 {
                color: #fff;
                font-weight: bold;
                margin-top: 5px;
                font-size: 17px;

                i {
                    color: #1a4da7;
                }
            }
        }

        .Navbar-Ico {
            display: flex;
            justify-content: space-around;

            ul {
                position: absolute;
                overflow: hidden;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            ul li {
                list-style: none;
                position: absolute;
                background: #fff;
                width: 100%;
                height: 3px;
                transform: translateY(-50%);
                transition: 0.5s;
            }

            ul li:nth-of-type(1) {
                top: 20%;
            }

            ul li:nth-of-type(2) {
                top: 50%;
            }

            ul li:nth-of-type(3),
            ul li:nth-of-type(4) {
                width: 50%;
                top: 80%;
            }

            ul li:nth-of-type(1),
            ul li:nth-of-type(2),
            ul li:nth-of-type(3) {
                left: 0;
            }

            ul li:nth-of-type(4) {
                right: 0;
            }

            ul.active li:nth-of-type(1) {
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }

            ul.active li:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }

            ul.active li:nth-of-type(3) {
                left: -50%;
                opacity: 0;
            }

            ul.active li:nth-of-type(4) {
                right: -50%;
                opacity: 0;
            }
        }

    }
}

#Menu-content {
    background-color: #1b202c;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: .4s;
    margin-top: 0px;

    position: fixed;
    z-index: 99999;
    height: 0vh;

    ul {
        margin-bottom: 0;
        padding-top: 130px;

        li {
            list-style: none;
            color: #fff;
            cursor: pointer;
            font-size: 30px;
            text-align: center;
            padding-top: 10px;
            transition: .4s ease-in-out;

            &:hover {
                color: #1a4da7;

                i {
                    transition: .4s ease-in-out;
                    transform: rotate(360deg);
                }

                a {
                    color: #1a4da7;
                    font-size: 30px;
                }
            }

            a {
                transition: .4s ease-in-out;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

// -------------Header-End---------------------

.account {
    margin-top: 65px;
    background-color: #151f30;
    padding: 29px;
    text-align: center;

    a {
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        padding: 10px 18px;

        font-weight: 500;
        transition: .5s ease-in-out;
        background-color: #1a4da7;

        &:hover {
            background-color: #fff;
            color: #1a4da7;
            border-radius: 5px;

        }
    }

    #login {
        &:hover {
            margin-right: 20px;
        }
    }

    #register {
        &:hover {
            margin-left: 20px;

        }
    }

}

// --------------Search section Start--------------- 

.search {
    background: #151f30;
    padding: 22px;
    // margin-top: 70px;

    .search-item {
        text-align: center;
        padding: 13px;

        .search-inp {
            width: 65%;
            padding: 10px;

            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border: none;
        }

        .submit-btn {
            padding: 10px 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            border: none;
            margin-left: -5px;
            font-weight: 600;
            background: #1a4da7;
            color: #fff;
            transition: .4s ease-in;
        }

        .submit-btn:hover {
            background: #fff;
            color: #1a4da7;
            text-decoration-color: #1a4da7;
        }

        input:focus {
            outline: none;
        }

    }
}

// --------------Search section End---------------- 

// ---------------------Slider Start--------------------------

.fnc {
    // main variables, basically everything depends on $slidingAT
    $slidingAT: 1s;
    $slidingDelay: $slidingAT / 3 * 2;
    $maskAT: $slidingAT * 0.7;
    $headingAT: $slidingAT * 1.5;
    $controlAT: $slidingAT/2;
    $easing: ease-in-out;
    $blendMode: luminosity;

    $contentLeft: 40%;
    $contentTop: 40%;

    $headingPadding: 30px;
    $headingFontSize: 100px;

    $maskTop: 15%;
    $maskRight: 100% - $contentLeft;
    $maskHeight: 67vh;
    $maskWidth: $maskHeight * 0.75;

    $black: #1f2833;

    /* you can add color names and their values here
    and then simply add classes like .m--blend-$colorName to .fnc-slide 
    to apply specific color for mask blend mode */
    $bgColors: (dark: lighten(#242424, 20%),
            green: #42605e,
            red: lighten(#6a0a0d, 10%),
            blue: #2d7791);

    &-slider {
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        height: 100vh;

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        &__slides {
            position: relative;
            height: 100%;
            transition: transform $slidingAT $slidingDelay;
        }

        // iterate through color map and set colors for specific classes
        @each $colorTheme,
        $bgColor in $bgColors {
            .m--blend-#{$colorTheme} {
                .fnc-slide__inner {
                    background-color: lighten($bgColor, 20%);
                }

                .fnc-slide__mask-inner {
                    background-color: $bgColor;
                }
            }

            .m--navbg-#{$colorTheme} {
                background-color: $bgColor;
            }
        }
    }

    &-slide {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translate3d(0, 0, 0);

        &.m--before-sliding {
            z-index: 2 !important;
            transform: translate3d(100%, 0, 0);
        }

        &.m--active-slide {
            z-index: 1;
            transition: transform $slidingAT $slidingDelay $easing;
            transform: translate3d(0, 0, 0);
        }

        &__inner {
            position: relative;
            height: 100%;
            background-size: cover;
            background-position: center top;
            transform: translate3d(0, 0, 0);

            .m--global-blending-active &,
            .m--blend-bg-active & {
                background-blend-mode: $blendMode;
            }

            .m--before-sliding & {
                transform: translate3d(-100%, 0, 0);
            }

            .m--active-slide & {
                transition: transform $slidingAT $slidingDelay $easing;
                transform: translate3d(0, 0, 0);
            }
        }

        &__mask {
            $activeDelay: $slidingAT + $slidingDelay/3;
            $xOffset: 200px;
            $yOffset: 0;
            $deg: 10deg;

            overflow: hidden;
            z-index: 1;
            position: absolute;
            right: $maskRight;
            top: $maskTop;
            width: $maskWidth;
            height: $maskHeight;
            margin-right: $headingPadding * -3;
            // This line basically does all magic with masking effect. Very simple and elegant. Webkit only atm.
            clip-path: polygon(0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 0,
                    6vh 0,
                    6vh 61vh,
                    44vh 61vh,
                    44vh 6vh,
                    6vh 6vh);
            transform-origin: 50% 0;
            transition-timing-function: $easing;

            .m--before-sliding & {
                transform: rotate($deg * -1) translate3d($xOffset, 0, 0);
                opacity: 0;
            }

            .m--active-slide & {
                transition: transform $maskAT $activeDelay,
                    opacity $maskAT/2 $activeDelay;
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }

            .m--previous-slide & {
                transition: transform $maskAT $slidingDelay/2,
                    opacity $maskAT/2 $maskAT/2 + $slidingDelay/2;
                transform: rotate($deg) translate3d($xOffset * -1, 0, 0);
                opacity: 0;
            }

            &-inner {
                z-index: -1;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100vw;
                height: 100vh;
                margin-left: -50vw;
                margin-top: -50vh;
                background-size: cover;
                background-position: center center;
                background-blend-mode: $blendMode;
                transform-origin: 50% (100vh - $maskHeight) / 2;
                transition-timing-function: $easing;

                .m--before-sliding & {
                    transform: translateY($yOffset) rotate($deg) translateX($xOffset * -1) translateZ(0);
                }

                .m--active-slide & {
                    transition: transform $maskAT $activeDelay;
                    transform: translateX(0);
                }

                .m--previous-slide & {
                    transition: transform $maskAT $slidingDelay/2;
                    transform: translateY($yOffset) rotate($deg * -1) translateX($xOffset) translateZ(0);
                }
            }
        }

        &__content {
            z-index: 2;
            position: absolute;
            left: $contentLeft;
            top: $contentTop;
        }

        &__heading {
            margin-bottom: 10px;
            text-transform: uppercase;

            &-line {
                overflow: hidden;
                position: relative;
                padding-right: 20px;
                font-size: $headingFontSize;
                color: #fff;
                word-spacing: 10px;

                &:nth-child(2) {
                    padding-left: $headingPadding;
                }

                .m--before-sliding & {
                    transform: translateY(100%);
                }

                .m--active-slide & {
                    transition: transform $headingAT $slidingDelay * 1.5;
                    transform: translateY(0);
                }

                .m--previous-slide & {
                    transition: transform $headingAT;
                    transform: translateY(-100%);
                }

                span {
                    display: block;

                    .m--before-sliding & {
                        transform: translateY(-100%);
                    }

                    .m--active-slide & {
                        transition: transform $headingAT $slidingDelay * 1.5;
                        transform: translateY(0);
                    }

                    .m--previous-slide & {
                        transition: transform $headingAT;
                        transform: translateY(100%);
                    }
                }
            }
        }

        &__action-btn {
            $hoverAT: 0.3s;
            $fontSize: 20px;
            $vertPadding: 5px;
            $lineHeight: $fontSize + $vertPadding * 2;

            position: relative;
            margin-left: 200px;
            padding: $vertPadding 15px;
            font-size: $fontSize;
            line-height: 1;
            color: transparent;
            border: none;
            text-transform: uppercase;
            background: transparent;
            cursor: pointer;
            text-align: center;
            outline: none;

            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                perspective: 1000px;
                transform-style: preserve-3d;
                transition: transform $hoverAT;
                transform-origin: 50% 0;
                line-height: $lineHeight;
                color: #fff;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid #fff;
                    border-top: none;
                    border-bottom: none;
                }

                &:after {
                    content: attr(data-text);
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    line-height: $lineHeight;
                    background: $black;
                    opacity: 0;
                    transform-origin: 50% 0;
                    transform: translateY(100%) rotateX(-90deg);
                    transition: opacity $hoverAT/2 $hoverAT/2;
                }
            }

            &:hover span {
                transform: rotateX(90deg);

                &:after {
                    opacity: 1;
                    transition: opacity $hoverAT/2;
                }
            }
        }
    }

    &-nav {
        z-index: 5;
        position: absolute;
        right: 0;
        bottom: 0;

        &__bgs {
            z-index: -1;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        &__bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &.m--nav-bg-before {
                z-index: 2 !important;
                transform: translateX(100%);
            }

            &.m--active-nav-bg {
                z-index: 1;
                transition: transform $slidingAT $slidingDelay;
                transform: translateX(0);
            }
        }

        &__controls {
            font-size: 0;
        }

        &__control {
            $controlWidth: 100px;

            overflow: hidden;
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: $controlWidth;
            height: 50px;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            transition: background-color $controlAT;

            &.m--active-control {
                background: $black;
            }

            &-progress {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: #fff;
                transform-origin: 0 50%;
                transform: scaleX(0);
                transition-timing-function: linear !important;

                .m--with-autosliding .m--active-control & {
                    transform: scaleX(1);
                }

                .m--prev-control & {
                    transform: translateX(100%);
                    transition: transform 0.5s !important;
                }

                .m--reset-progress & {
                    transform: scaleX(0);
                    transition: transform 0s 0s !important;
                }

                .m--autosliding-blocked & {
                    transition: all 0s 0s !important;
                    transform: scaleX(0) !important;
                }
            }
        }
    }
}

/* NOT PART OF COMMON SLIDER STYLES */
$font: "Open Sans",
Helvetica,
Arial,
sans-serif;
$creditsAT: 0.7s;
$creditsWidth: 400px;



.demo-cont {
    overflow: hidden;
    position: relative;
    height: 100vh;
    perspective: 1500px;
    background: #000;

    &__credits {
        box-sizing: border-box;
        overflow-y: auto;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        width: $creditsWidth;
        height: 100%;
        padding: 20px 10px 30px;
        background: #303030;
        font-family: $font;
        color: #fff;
        text-align: center;
        transition: transform $creditsAT;
        transform: translate3d(100%, 0, 0) rotateY(-45deg);
        will-change: transform;

        .credits-active & {
            transition: transform $creditsAT $creditsAT/3;
            transform: translate3d(0, 0, 0);
        }

        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }

        &-close {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 28px;
            height: 28px;
            cursor: pointer;

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 2px;
                margin-top: -1px;
                background: #fff;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        &-heading {
            text-transform: uppercase;
            font-size: 40px;
            margin-bottom: 20px;
        }

        &-img {
            display: block;
            width: 60%;
            margin: 0 auto 30px;
            border-radius: 10px;
        }

        &-name {
            margin-bottom: 20px;
            font-size: 30px;
        }

        &-link {
            display: block;
            margin-bottom: 10px;
            font-size: 24px;
            color: #fff;
        }

        &-blend {
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
}

.example-slider {
    z-index: 2;
    transform: translate3d(0, 0, 0);
    transition: transform $creditsAT;

    .credits-active & {
        transform: translate3d($creditsWidth * -1, 0, 0) rotateY(10deg) scale(0.9);
    }

    .fnc-slide {
        &-1 {

            .fnc-slide__inner,
            .fnc-slide__mask-inner {
                background-image: url("https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWKGy4K_1_dvtIW7celhWo6bXLMybAQPY7sAzW2aoc6gUizViVh4WXlTfUy-wJF09wIxphPT0fFx-LwBRmcJ9dEZ3HiR.jpg?r=077");
            }
        }

        &-2 {

            .fnc-slide__inner,
            .fnc-slide__mask-inner {
                background-image: url("https://i.pinimg.com/originals/59/d1/23/59d12383501d13a55a3618c4f39254a3.jpg");
            }
        }

        &-3 {

            .fnc-slide__inner,
            .fnc-slide__mask-inner {
                background-image: url("https://cdn-images-1.medium.com/fit/t/1600/480/1*KBld7fFYMp-7JTeFj-AX3w.jpeg");
            }

            .fnc-slide__inner:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.1);
            }
        }

        &-4 {

            .fnc-slide__inner,
            .fnc-slide__mask-inner {
                background-image: url("https://i2.wp.com/readysteadycut.com/wp-content/uploads/2020/05/5-1-1.png?fit=1366%2C682&ssl=1");
            }

            .fnc-slide__inner:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.2);
            }
        }
    }

    .fnc-slide__heading,
    .fnc-slide__action-btn,
    .fnc-nav__control {
        font-family: $font;
    }
}

/* COLORFUL SWITCH STYLES 
     ORIGINAL DEMO - https://codepen.io/suez/pen/WQjwOb */
$w: 180px;
$_baseW: 280;
$h: $w * 120 / $_baseW;
$br: $w * 50 / $_baseW;
$outerOffset: 5px;
$animTime: 0.5s;
$dotS: $w * 8 / $_baseW;
$dotLeft: $w * 204 / $_baseW;
$dotLeftOffset: $w * -125 / $_baseW;
$offS: $w * 64 / $_baseW;
$onLeft: $w * 162 / $_baseW;
$onTop: $w * 35 / $_baseW;
$onWidth: $w * 30 / $_baseW;
$onHeight: $w * 56 / $_baseW;
$cubIn: cubic-bezier(0.52, -0.96, 0.51, 1.28);
$cubOut: cubic-bezier(0.67, -0.16, 0.47, 1.61);

@mixin switchOn() {
    .colorful-switch__checkbox:checked~.colorful-switch__label & {
        @content;
    }
}

.colorful-switch {
    position: relative;
    width: $w;
    height: $h;
    margin: 0 auto;
    border-radius: $br;
    background: #cfcfcf;

    &:before {
        content: "";
        z-index: -1;
        position: absolute;
        left: -$outerOffset;
        top: -$outerOffset;
        width: $w + $outerOffset * 2;
        height: $h + $outerOffset * 2;
        border-radius: $br + $outerOffset;
        background: #314239;
        transition: background-color 0.3s;
    }

    &:hover:before {
        background: #4c735f;
    }

    &__checkbox {
        z-index: -10;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    &__label {
        z-index: 1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $br;
        cursor: pointer;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: $w * 3;
        height: 100%;
        background: linear-gradient(90deg,
                #14dcd6 0,
                #10e7bd $w,
                #ef9c29 $w * 2,
                #e76339 100%);
        transition: transform $animTime;
        transform: translate3d($w * -2, 0, 0);

        @include switchOn {
            transform: translate3d(0, 0, 0);
        }
    }

    &__dot {
        position: absolute;
        left: $dotLeft;
        top: 50%;
        width: $dotS;
        height: $dotS;
        margin-left: $dotS/-2;
        margin-top: $dotS/-2;
        border-radius: 50%;
        background: #fff;
        transition: transform $animTime;
        transform: translate3d(0, 0, 0);

        @include switchOn {
            transform: translate3d($dotLeftOffset, 0, 0);
        }
    }

    &__on {
        position: absolute;
        left: $onLeft;
        top: $onTop;
        width: $onWidth;
        height: $onHeight;
        transition: transform $animTime;
        transform: translate3d(0, 0, 0);

        @include switchOn {
            transform: translate3d($dotLeftOffset, 0, 0);
        }

        &__inner {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform $animTime/2 0s $cubIn;
            transform-origin: 100% 50%;
            transform: rotate(45deg) scale(0) translateZ(0);

            @include switchOn {
                transition: transform $animTime/2 $animTime/2 $cubOut;
                transform: rotate(45deg) scale(1) translateZ(0);
            }

            &:before,
            &:after {
                content: "";
                position: absolute;
                border-radius: $dotS/2;
                background: #fff;
            }

            &:before {
                left: 0;
                bottom: 0;
                width: 100%;
                height: $dotS + 1px;
            }

            &:after {
                right: 0;
                top: 0;
                width: $dotS + 1px;
                height: 100%;
            }
        }
    }

    &__off {
        position: absolute;
        left: $dotLeft;
        top: 50%;
        width: $offS;
        height: $offS;
        margin-left: $offS/-2;
        margin-top: $offS/-2;
        transition: transform $animTime;
        transform: translate3d(0, 0, 0);

        @include switchOn {
            transform: translate3d($dotLeftOffset, 0, 0);
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: $dotS;
            margin-top: $dotS/-2;
            border-radius: $dotS/2;
            background: #fff;
            transition: transform $animTime/2 $animTime/2;

            @include switchOn {
                transition-delay: 0s;
            }
        }

        &:before {
            transform: rotate(45deg) scaleX(1) translateZ(0);

            @include switchOn {
                transform: rotate(45deg) scaleX(0) translateZ(0);
            }
        }

        &:after {
            transition-timing-function: $cubOut;
            transform: rotate(-45deg) scaleX(1) translateZ(0);

            @include switchOn {
                transition-timing-function: ease;
                transform: rotate(-45deg) scaleX(0) translateZ(0);
            }
        }
    }
}


// ---------------------Slider End--------------------------

// ----------------Home Slider Start----------------

.home-slider {
    background-image: url(https://boostifythemes.com/demo/html/bustter/images/uploads/slider-bg.jpg);
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: 1s ease-in-out;

    .card-name {
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
        padding-top: 90px;
    }

    .card-film {
        position: relative;
        overflow: hidden;
        margin-left: 25px;
        border: 1px solid #1a4da7;
        transition: .5s cubic-bezier(0.8, -0.04, 0, 1.17);

        img {
            width: 100%;
            filter: brightness(0.5);

        }

        &:hover {
            border: 2px dashed #1a4da7;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

            .card-text {
                top: 40%;

            }

            img {
                filter: blur(5px);
                transition: .5s cubic-bezier(0.8, -0.04, 0, 1.17);
                transform: scale(1.1);
            }

        }

        .card-text {
            position: absolute;
            top: 200%;
            left: 40%;
            bottom: 0%;
            transition: .5s cubic-bezier(0.8, -0.04, 0, 1.17);
            text-align: center;

            .play-btn {
                font-size: 40px;
                color: #fff;

                border-radius: 100%;

                &:hover {
                    transform: rotate(-360deg);
                    transition: .3s;
                    border: 2px dashed #fff;
                    border-radius: 100%;

                }
            }
        }
    }




}




// ------------------Home Slider End------------------

// ------------------Background Cover Start-------------

.background-cover {
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);

    .cover-text {
        display: flex;
        
        justify-content: center;
        margin: auto;

        h1 {

            text-align: center;
            color: #1a4da7;
            z-index: 99;
            font-weight: bold;
            font-size: 50px;
        }
    }

    .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        background: linear-gradient(#131720, #131720);
        opacity: 0.8;
        filter: drop-shadow(20px);

    }
}

// ------------------Background Cover End----------------

// ----------------- Film Movie start--------------

.film-movie {
    background-color: #151f30;
    width: 100%;

    .movie-head {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;

        h1 {
            font-size: 42px;
            color: #fff;
            font-weight: bold;
        }
    }

    a {
        text-decoration: none;
    }

    .movie-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .movie-card {
            flex-wrap: wrap;

            a {
                &:hover {
                    .movie-img {
                        i {
                            top: 50%;
                        }

                        img {
                            filter: blur(3px);
                            transform: scale(1.1);
                        }
                    }
                }

                .movie-img {
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    height: 400px;

                    img {
                        width: 100%;
                        position: relative;
                        transition: .4s ease-in-out;
                        overflow: hidden;
                        filter: brightness(0.5);
                    }

                    i {
                        position: absolute;
                        top: 130%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 38px;
                        color: #1a4da7;
                        transition: .4s ease-in-out;
                    }
                }
            }

            .movie-text {
                text-align: center;
                padding-top: 15px;
                padding-bottom: 15px;

                h4 {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
    }

    .load-more {
        text-align: center;
        padding: 20px 20px;

        button {
            padding: 15px 50px;
            border: none;
            color: #fff;
            background-color: #131720;
            transition: .4s ease-in-out;
            font-size: 20px;
            font-weight: 600;
            border-radius: 5px;

            &:hover {
                color: #131720;
                background-color: #fff;
            }
        }
    }
}

// -------------------- Film Movie End -----------------------

// ------------------ New Film Start---------------

.new-film {
    background-color: #131720;
    padding-bottom: 85px;
    transition: .5s;

    .head-tag {
        text-align: center;

        h3 {
            color: #fff;
            font-size: 35px;
            font-weight: bold;
            padding-top: 50px;
            padding-bottom: 40px;
            margin-left: 10px;

            i {
                color: #1a4da7;
            }
        }
    }

    .tag-content {
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
            filter: brightness(0.3);
            position: relative;
        }

        .bottom {
            color: #fff;
            position: absolute;
            transform: translateY(180px);
            transition: .4s ease-out;
            width: 100%;

            h5 {
                font-weight: bold;
                color: #1a4da7;
                font-size: 25px;
            }

            i {
                transform: translateY(-70px);

                font-size: 60px;
                width: 0%;
                transition: .4s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: #1a4da7;


                }
            }
        }

        &:hover {
            img {
                filter: blur(5px) brightness(0.5);
            }

            .bottom {
                transform: translateY(-250px);
            }
        }
    }
}

.tag-video {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;

    iframe {
        position: relative;
        max-width: 900px;
        outline: none;
    }

    i {
        color: #fff;
        font-size: 40px;
        position: absolute;
        display: flex;
        justify-content: center;
        right: 6%;
        top: 6%;
        width: 0%;
        // margin-left: 62rem;
        // margin-top: -25rem;
        transition: .3s ease-in-out;


        &:hover {
            color: red;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

}

.active {
    visibility: visible;
    opacity: 1;
}

// ----------------- New Film End------------------


// ------------------ Actors Start------------------

.actors {
    position: relative;
    background-color: #131720;
    padding: 20px;

    .detail-head {
        text-align: center;
        color: #fff;
        padding-bottom: 45px;

        h4 {
            font-size: 35px;
            font-weight: bold;
        }
    }

    .actor-detail {
        position: relative;
        overflow: hidden;
        margin-bottom: 22px;
        transition: .5s;

        &:hover {
            .detail-text {
                bottom: -4%;

            }

            .detail-img {

                img {
                    filter: brightness(0.8);
                }

                .pic-1 {
                    display: none;
                }

                .pic-2 {
                    display: block;
                }
            }
        }

        .detail-img {
            position: relative;
            
            img {
                filter: brightness(0.5);
                height: 350px;
                width: 100%;

            }

            .pic-2 {
                display: none;

            }
        }

        .detail-text {
            background-color: #151f30;
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: -72%;
            transition: .3s;

            h5 {
                color: #fff;
            }

            p {
                a {
                    text-decoration: none;
                    color: #fff;
                    transition: .5s;

                    &:hover {
                        color: #1a4da7;
                    }
                }
            }
        }
    }

    .load-more {
        text-align: center;

        button {
            padding: 15px 50px;
            border: none;
            color: #151f30;
            background-color: #fff;
            filter: brightness(0.7);
            transition: .4s ease-in-out;
            font-size: 20px;
            font-weight: 600;
            border-radius: 5px;

            &:hover {
                color: #131720;
                background-color: #fff;
                filter: brightness(1);
            }
        }
    }
}

// ------------------- Actors End-------------------

// ----------------Footer start---------------

footer {
    background-image: url(https://www.savebutonu.com/wp-content/uploads/2020/04/sex-education-3-sezon.jpg);
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    .copyRight {
        z-index: 999;
        color: #fff;
        text-align: center;
        margin-top: 90px;

        h4 {
            font-size: 30px;
            filter: brightness(0.5);
            transition: .5s ease-in-out;
            cursor: default;

            &:hover {
                filter: brightness(1);
            }
        }

        i {
            font-size: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: .4s;
            color: #fff;

            &:hover {
                transform: rotate(-360deg);
                color: #1a4da7;

            }
        }

        p {
            transition: .5s ease-in-out;
            cursor: default;
            font-size: 18px;

            a {
                text-decoration: none;
                color: #fff;
                transition: .5s ease-in-out;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

    .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 100vh;
        background: -webkit-gradient(linear, left top, left bottom, from(#131720), to(#131720));
        background: linear-gradient(#131720, #0c0f14, #0d1016, #131720);
        opacity: 0.8;
        -webkit-filter: drop-shadow(20px);
        filter: drop-shadow(20px);
    }
}

// ----------------Footer End-----------------



// ---------Responsive @media-------------

@media(min-width:220px) and (max-width:991px) {
    .Header {
        .Header-All {
            display: none;
        }

    }

    .Responsive-Header {
        display: block;
    }

    #Menu-content {
        // margin-top: 64px;

        ul {

            li {
                font-size: 18px;
                padding-top: 0px;
                padding-bottom: 9px;
            }
        }
    }

    .search {
        margin-top: 0px;

        .search-item {
            margin-top: 60px;

            .search-inp {
                width: 58%;
                padding: 10px;
            }

            .submit-btn {
                padding: 10px 16px;
            }
        }

    }
}

@media(min-width:220px)and(max-width:576px) {
    .demo-cont {
        display: none;
    }

    .new-film {
        .head-tag {
            h3 {
                font-size: 17px;
            }
        }

        .tag-content {
            .bottom {
                p {
                    display: none;
                }
            }
        }
    }

    #up-arrow {

        // left: 84% !important;


    }

    .actors{
        .detail-img{
            img{
                height: 200px !important;
            }
        }
    }
}

@media(min-width:240px) and (max-width:400px) {
    .background-cover {
        .cover-text {
            h1 {
                font-size: 18px;
            }
        }
    }

    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }
    }

    .fnc-slide {
        .fnc-slide__content {
            display: none;
        }
    }

    #up-arrow {

        // left: 84%;   


    }
}

@media(min-width:240px) and (max-width:310px) {


    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 117px;
                    }
                }
            }
        }
    }
}

@media(min-width:310px) and (max-width:360px) {


    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 140px;
                    }
                }
            }
        }
    }
}

@media(min-width:360px) and (max-width:375px) {


    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 166px;
                    }
                }
            }
        }
    }

    .home-slider {

        .card-film {

            margin-top: 120px;
        }




    }
}

@media(min-width:375px) and (max-width:400px) {


    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 176px;
                    }
                }
            }
        }
    }
}

@media(min-width:400px) and (max-width:576px) {
    #Menu-content {
        margin-top: 0px;

        ul {

            li {
                font-size: 18px;
                padding-top: 0px;
                padding-bottom: 9px;
            }
        }
    }

    .search {
        margin-top: 0px;

        .search-item {
            margin-top: 60px;

            .search-inp {
                width: 58%;
                padding: 10px;
            }

            .submit-btn {
                padding: 10px 16px;
            }
        }

    }

    .fnc-slide {
        .fnc-slide__content {
            display: none;
        }
    }

}

@media(min-width:400px) and (max-width:430px) {
    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 193px;
                    }
                }
            }
        }
    }

    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 24px;
            }
        }
    }
}

@media(min-width:430px) and (max-width:490px) {
    .film-movie {
        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 216px;
                    }
                }
            }
        }
    }

    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 24px;
            }
        }
    }
}

@media(min-width:490px) and (max-width:576px) {
    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }

        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 251px;
                    }
                }
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 24px;
            }
        }
    }
}

@media (min-width:576px) and (max-width:768px) {
    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }

        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 186px;
                    }
                }
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 24px;
            }
        }
    }

    .fnc-slide {
        .fnc-slide__content {
            display: none;
        }
    }

    #Menu-content {
        ul {
            padding-top: 285px;
        }
    }

    .new-film {
        .tag-content {
            .bottom {
                p {
                    display: none;
                }
            }
        }
    }

    .actors{
        .detail-img{
            img{
                height: 200px !important;
            }
        }
    }
}

@media (min-width:768px) and (max-width:992px) {
    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }

        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 266px;
                    }
                }
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 24px;
            }
        }
    }

    #Menu-content {
        ul {
            padding-top: 285px;
        }
    }

}

@media (min-width:992px) and (max-width:1200px) {
    .film-movie {
        .movie-head {
            h1 {
                font-size: 25px;
            }
        }

        .movie-content {
            .movie-card {
                a {
                    .movie-img {
                        height: 373px;
                    }
                }
            }
        }
    }

    .background-cover {
        .cover-text {
            h1 {
                font-size: 29px;
            }
        }
    }
}







// ----------Responsive @media End-------------


#up-arrow {
    top: 85%;
    position: fixed;
    overflow: hidden;
    // left: 95%;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    cursor: pointer;
    z-index: 999;
}

::-webkit-scrollbar {
    background-color: #151f30;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #1a4da7, #1a4da7);
    border-radius: 6px;
    transition: .5s;

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #0d1422, #1a4da7);

}